<div class="index">
    <div class="row">
        <div class="col-md-10 offset-md-1">
            <h1>Hi, <%= locals.user.name %>.</h1>
            <form method='POST' action="">
            <button type="submit" class="btn btn-checkin">CHECK IN</button>
            </form>
        </div>
    </div>
</div>
