<div class="profile">
    <div class="row">
        <div class="col-md-10 offset-md-1">
            <div class="card mx-auto" style="width: 30rem;">
                <img class="card-img-top" src="images/usr-img-placeholder.png" alt="Card image cap" />
                <div class="card-body">
                    <h4 class="card-title"><%= locals.user.name %>(<%=locals.user.id %>)</h4>

                    <h6 class="yourEmail">Your Email: </h6>
                    <p><%= locals.user.email %></p>

                    <h6 class="targetEmail">Target Email: </h6>
                    <p><%= locals.user.targetEmail %></p>
                    <a href="/profile/update" class="btn btn-primary">Update profile</a>
                </div>
            </div>
        </div>
    </div>
</div>
